@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

#mapex_title
{
    color: rgba(75,75,255, 255);
    /* -webkit-text-stroke: 2px rgb(255, 255, 255); */
    font-family: 'Roboto Slab', monospace;
    font-size: 5.8rem; 
    letter-spacing: +0.7rem;
    text-align: center;
    padding-bottom: 25px;
} 


#manual_link_mapex
{
    align-self: center;
    text-align: center;
    font-size: 50px;
}

#mapex_quote
{
    font-family: 'Crimson Text', 'monospace';
    color: rgba(75,75,255, 255);
    border-color: rgba(75,75,255, 0.2);
    text-align: center;
    font-size: 25px;
}

#mapex_tldr
{
    text-align: center;
}

#mapex_body
{
    text-align: center;
    font-family: 'Roboto Slab', 'monospace';
}

#mapex_youtube
{
    text-align: center;
}

.mapex_text
{
    color: rgba(75,75,255, 255);
    font-size: 1.8rem; 
    letter-spacing: -.05rem;
} 

